= form_for @game, :html => { :class => 'form-horizontal' } do |f|

  - if @game.errors.any?
    #error_explanation
      %h2 #{pluralize(@game.errors.count, 'error')} prohibited this game from being saved:
      %ul
        - @game.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :red_player_name, :class => 'control-label'
    .controls
      = f.text_field :red_player_name, :class => 'text_field'
  .control-group
    = f.label :blue_player_name, :class => 'control-label'
    .controls
      = f.text_field :blue_player_name, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), games_path, :class => 'btn'