- model_class = Game
.page-header
  %h1= model_class.model_name.human.pluralize
  = link_to 'new game', new_game_path, :class => 'btn btn-primary'

#notice= notice

%h2 All Games
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:red_player_name)
      %th= model_class.human_attribute_name(:blue_player_name)
      %th= model_class.human_attribute_name(:next_player)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @games.each do |game|
      %tr
        %td= link_to "Game #" + game.id.to_s, game_path(game)
        %td= game.red_player_name
        %td= game.blue_player_name
        %td= game.next_player
        %td=l game.created_at
        %td
          = link_to t('.destroy', :default => t("helpers.links.destroy")), game_path(game), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger'
